body::-webkit-scrollbar {
  width: 0 !important;
}
main {
  /* position: relative; */
  /* min-height: 80%; */
  /* overflow-y: scroll; */
}
a {
  text-decoration: none;
  color: #ee5b2c;
  font-weight: 400;
}
.search-card {
  height: 40vh;
}
.movie-card {
  height: 50vh;
}
.authorization-page {
  min-height: 80svh;
}
.movie-card img {
  width: 100%;
  height: 50vh;
  aspect-ratio: 3/2;
  object-fit: cover;
}
.single-movie {
  height: 90vh;
}
.single-movie img {
  width: 100%;
  height: 100%;
  aspect-ratio: 3/2;
  object-fit: cover;
}
footer {
  position: relative;
  left: 0;
  bottom: 0;
  height: auto;
  width: 100%;
}

.btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* margin: 0 0 10px 0;
  padding: 3px 6px; */
  /* border: medium none; */
  background-color: #ee5b2c;
  color: #ffffff;
  cursor: pointer;
  /* text-align: left; */
  text-decoration: none;
  white-space: nowrap;
}
.btn:hover {
  background-color: #ee5b2c;
  color: #ffffff;
}
